@import 'ext/default-highlight';

// Full-page-width blocks
div.highlighter-rouge, table-wrap {
	display: block;
	width: 100vw;
	position: relative;
	right: 10vw;
	margin: 2em 0;
	padding: 2vw;
	background-color: #f4f4f4;
	box-shadow: 0 0 5px lightgrey;
	overflow-x: scroll;
}

table-wrap table {
	width: 100%;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f4f4f4;
}
